body {
    font-family: 'Courier';
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

#titleBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

#propertyBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

#addCard {
    background: none;
    border: none;
    font-size: 40px;
}

#board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 80vw;
    height: 65vh;
    background-color: rgb(48, 47, 47);
}

.rowContainer {
    display: flex;
    flex-direction: row;
    min-height: 86px;
    width: 100%;
    background-color: rgb(103, 101, 101);
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    background-color: rgb(103, 101, 101);
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100px;
    background-color: green;
    font-size: 20px;
    font-weight: bold;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86px;
    width: 100px;
    background-color: black;
    font-size: 20px;
    font-weight: bold;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#bank {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    height: 300px;
    background-color: rgb(44, 44, 44);
    margin-bottom: 30px;;
}